
<div class="comment<%= @comment.id%>">
	<div class="post-body" style="overflow: hidden;">
		<header>
			<span class=""> <span class=""><a> <%= @comment.user.username %></a></span> </span>
			<span class="post-meta"> <span class="bullet time-ago-bullet" aria-hidden="true"></span> <a data-role="relative-time" class="time-ago" ><%= time_ago_in_words(@comment.created_at) %></a> </span>
		</header>
		<div class="post-body-inner">
			<div class="post-message-container" data-role="message-container">
				<div class="publisher-anchor-color" data-role="message-content">
					<div class="post-message " data-role="message" dir="auto">
						<p>
							<%= h(@comment.body).gsub(/\n/, '<br/>').html_safe %>
						</p>
					</div>
					<span class="post-media"><ul data-role="post-media-list"></ul></span>
				</div>
			</div>
			<a class="see-more hidden" title="see more" data-action="see-more">see more</a>
		</div>
	</div>
</div>